name: Dataset APPEND (Hourly)

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  append:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - run: pip install huggingface_hub pandas

      - name: Run APPEND
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          python pipeline/update_dataset.py APPEND
