name: Update Career Dataset

on:
  schedule:
    - cron: "0 * * * *"  # Run every hour
  workflow_dispatch:     # Allow manual run

jobs:
  pipeline:
    runs-on: ubuntu-latest


    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install requests feedparser huggingface_hub transformers

    - name: Run scripts
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      run: |
        python pipeline/scrape.py
        python pipeline/filter.py
        python pipeline/dataset_builder.py
        python pipeline/push_to_hf.py

    - name: Auto Commit Changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "Auto update dataset"
